@page "{key}/{filter?}"
@model PL.Pages.Client.ListModel
@{
    ViewData["PageTitle"] = "View Products";
    Layout = "_Marketplace";
}

@using DSL.Adapters.Maintenance.Product

<div class="container px-4 my-5">
    <div class="row ai-center">
        <div class="col-0">
            <i class="fa fa-info-circle fa-2xl clr-g mx-3"></i>
        </div>

        <div class="col my-3">
            <h3>
                Here all products had found for category @Model.Category.Category<br />
                View list for interested products, and go for details or use filters
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col my-3 ta-end">
            <p>
                There was <strong>@Model.Products.Count</strong> product/s found
            </p>
        </div>
    </div>
</div>

@if (Model.Products.Count != 0)
{
    <div class="container px-4 my-5">
        <div class="row">
            <div class="col ta-center">
                <h3>Filter set</h3>
            </div>
        </div>

        <form method="post" id="filter">
            @{
                int idx = 0;

                foreach (var item in Model.AttributeKeys)
                {
                    <div class="row my-3 ai-center">
                        <div class="col">
                            <h3>@Model.AttributeNames.Find(p => p.Key == item).Value</h3>
                        </div>
                        @foreach (var item2 in Model.AttributeValues.Where(p => p.Key == item))
                        {
                            <div class="col">
                                <div class="row g-3 ai-center jc-center">
                                    <div class="col-0">
                                        <p style="text-wrap: nowrap;">@item2.Value</p>
                                    </div>
                                    <div class="col-0">
                                        <input type="password" value="@item2.Value" class="secret" asp-for="@Model.FilterStorage[idx].Key" />
                                        <input type="checkbox" class="checkbox" checked="@Model.FilterStorage[idx].Value"
                                               asp-for="@Model.FilterStorage[idx].Value" />
                                    </div>
                                </div>
                            </div>

                            idx++;
                        }
                    </div>
                }
            }
        </form>

        <div class="row g-3 my-3 jc-center">
            <div class="col-0">
                <button class="button" form="filter"
                        formaction="/catalog/@Model.Category.Key?handler=Filter">
                    Filter
                </button>
            </div>
            <div class="col-0">
                <a class="button" href="/catalog/@Model.Category.Key">Clear</a>
            </div>
        </div>
    </div>
}

@if (Model.Products.Count > 0)
{
    <div class="container px-4 my-5">
        @foreach (var product in Model.Products)
        {
            <div class="row card my-5 ai-center jc-center">
                <div class="col-0">
                    <img class="img-sm" src="@product.Image" alt="@product.Product" />
                </div>

                <div class="col px-3">
                    <div class="row my-3">
                        <div class="col">
                            <h3 class="wrappable">@product.Product</h3>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col ta-end">
                            <p class="wrappable">@product.Price<i class="fa fa-hryvnia fa-sm"></i></p>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col">
                            <p class="wrappable">@product.ShortDescription</p>
                        </div>
                    </div>

                    <div class="row my-3 jc-center ai-center">
                        <div class="col-0 my-1 mx-3">
                            <a class="button" href="/product/@product.Key">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container px-4 my-5">
        <div class="row my-3">
            <div class="col ta-center">
                <p>Requested category have no one attached product yet</p>
            </div>
        </div>
    </div>
}