@page "{key}"
@model PL.Pages.Client.ViewModel
@{
    ViewData["PageTitle"] = Model.Product.Product;
    Layout = "_Marketplace";
}

@using DSL.Adapters.Maintenance.Attribute
@using DSL.Adapters.Maintenance.Group

<div class="container px-4 py-5">
    <div class="row ai-center">
        <div class="col ta-center">
            <img class="img-md" src="@Model.Product.Image" alt="@Model.Product.Product" />
        </div>
        <div class="col">
            <div class="row my-3">
                <div class="col">
                    <h2 class="wrappable">@Model.Product.Product</h2>
                </div>
            </div>

            <div class="row my-3 ai-center">
                <div class="col">
                    @if (Model.Amount > 10)
                    {
                        <p class="wrappable">Order Status: <strong class="clr-g">Available</strong></p>
                    }
                    else if (Model.Amount <= 10 && Model.Amount > 0)
                    {
                        <p class="wrappable">Order Status: <strong class="clr-o">Running Out</strong></p>
                    }
                    else
                    {
                        <p class="wrappable">Order Status: <strong class="clr-r">Run Out</strong></p>
                    }
                </div>
                <div class="col my-3 ta-end">
                    <p class="wrappable">@Model.Product.Price<i class="fa fa-hryvnia fa-xs"></i></p>
                </div>
            </div>

            <div class="row my-3 jc-center">
                <div class="col-0">
                    @if (Model.Amount <= 0)
                    {
                        <button class="button"><i class="fa fa-cart-shopping fa-xs"></i>Run Out</button>
                    }
                    else
                    {
                        @if ((bool)ViewData["AllowOrdering"]!)
                        {
                            <a class="button" href="/product/@Model.Product.Key?handler=Push"><i class="fa fa-cart-shopping fa-xs"></i>Add To Cart</a>
                        }
                        else
                        {
                            <button class="button"><i class="fa fa-cart-shopping fa-xs"></i>In Cart</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 my-5">
    <div class="row my-3 px-5">
        <div class="col">
            <h2><i class="fa fa-pen fa-xs px-1 pl-0"></i>Description</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <p>@Model.Product.LongDescription</p>
        </div>
    </div>
</div>

<div class="container px-4 my-5">
    <div class="row my-3 px-5">
        <div class="col">
            <h2><i class="fa fa-pen fa-xs px-1 pl-0"></i>Characteristics</h2>
        </div>
    </div>

    @foreach (AttributeGroupXRAdapter group in Model.Groups)
    {
        <div class="row">
            <div class="col">
                @foreach (ProductAttributeXRWAdapter _attribute in group.AttachedAttributes)
                {
                    <div class="row g-1 my-1 ai-center">
                        <div class="col">
                            <h3>@_attribute.Attribute</h3>
                        </div>

                        <div class="col">
                            <p>@Model.Product.AttachedValues.Find(p => p.AttachedToAttribute == _attribute.Key)!.Value</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <hr class="my-3" />

        <div class="row my-3 mt-0">
            <div class="col">
                <h3 class="ta-end">@group.Group</h3>
            </div>
        </div>
    }
</div>